html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    height: 96px;
}

.logo img {
    height: 48px;
    padding-left: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.04);
    height: 96px;
    width: 750px;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    letter-spacing: 1px;
    font-size: 16px;
}

.nav-links a:hover {
    color: #aaa;
}

.nav-toggle {
    display: none;
}

.nav-line {
    flex-grow: 1;
    height: 1px;
    background-color: #444;
    margin: 0 -25px 0 64px;
    z-index: 1;
}

.content-container-home-page {
    display: flex;
    padding-top: 50px;
}

.space-text,
.explore-button {
    flex: 1;
    margin: 10px;
    padding: 20px;
}

.space-text {
    color: rgba(255, 255, 255, 1);
    ;
    padding-left: 100px;
}

.explore-button {
    display: flex;
    justify-content: center;
    align-items: end;
}

#btn-explore {
    color: black;
    background-color: white;
    cursor: pointer;
    height: 274px;
    border-radius: 50%;
    width: 274px;
    font-size: 32px;
    outline: none;
    letter-spacing: inherit;
    border: none;
}

.space-text h1 {
    font-size: 150px;
    margin: 0;
    line-height: 171px;
}

.space-text h2 {
    font-size: 28px;
    line-height: 33px;
    color: rgba(208, 214, 249, 1);
    ;
}

.space-text p {
    font-size: 18px;
    line-height: 32px;
    max-width: 500px;
    color: rgba(208, 214, 249, 1);
    ;
}

#btn-explore:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 44px rgba(255, 255, 255, 0.10), 5px 5px 15px 5px rgba(255, 255, 255, 0.10);
}

/*destination styles */
.transparent {
    opacity: 0.5;
}

.destination-title {
    font-weight: 400;
    margin-left: 5vw;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.destination-page {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    padding: 20px;
    color: #ffffffff;
}

.planet-list {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
}

.planet-list>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 2.700000047683716px;
    text-align: left;
    padding-right: 50px;
    color: #d0d6f9;

}

.destination-content {
    display: flex;
    justify-content: center;
}

.destination-pics {
    padding: 5vh;
}

.pics-description {
    width: 445px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.bottom-section {
    display: flex;
    text-align: center;
}

.moon-name {
    margin: 0;
    font-family: Bellefair;
    font-size: 100px;
    font-weight: 400;
    line-height: 114.6px;
    text-align: left;
}

.moon-desc {
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
   color: #D0D6F9;
}
.distance{
    padding-right: 70px;
}
.dis-title {
    font-family: Barlow Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.362499952316284px;
    text-align: left;
    color: #D0D6F9;

}

.est-time {
    font-family: Barlow Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.362499952316284px;
    text-align: left;
    color: #D0D6F9;
}

.dis-value {
    font-family: Bellefair;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.09px;
    text-align: left;
}

.time-value {
    font-family: Bellefair;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.09px;
    text-align: left;
}





@media (max-width: 800px) {
    .nav-links li {
        margin: 0 10px;
    }

    .nav-links a {
        font-size: 12px;
        padding: 8px 10px;
    }

    .nav-links {
        padding: 0;
        justify-content: flex-end;
        width: auto;
    }

    .nav-line {
        display: none;
    }

    .content-container-home-page {
        display: flex;
        flex-wrap: wrap;
    }

    .space-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 550px) {

    .nav-toggle {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: white;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        height: auto;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.04);
        display: none;
    }

    .nav-links li a {
        width: 100%;
    }

    .active {
        display: flex;
    }

    .logo img {
        height: 40px;
    }
}